@import "~bootstrap/scss/bootstrap";

img {
  max-width: 100%;
  max-height: 100%;
}

.jumbotron {
  padding-bottom: 1rem;
}

.support-video {
  padding-top: 4rem;
}

.imprint {
  margin-top: 10rem;
  font-size: 0.7rem;
}

.privacy-link {
  margin-bottom: 4rem;
}

.privacy {
  font-size: 0.7rem;
}